<h5 class="subtitle is-size-4 has-text-primary m-t-sm">Details</h5>
<span><strong>{{'PROFILE.DETAILS.NAME' | translate}}</strong><br> Etienne Puissant</span><br>
<span><strong>{{'PROFILE.DETAILS.PHONE' | translate}}</strong><br> +33 6 32 80 66 24</span><br>
<span><strong>Email : </strong><br> puissant.etienne@gmail.com</span><br>
<span><strong>{{'PROFILE.DETAILS.LOCATION' | translate}}</strong><br> Bordeaux, France</span><br><br>

<a href="mailto:etienne.puissant@gmail.com"><i class="fa fa-envelope"></i></a>
<a href="tel:+33 6 87 62 60 25"><i class="fa fa-phone"></i></a>


<a target="_blank" href="https://www.linkedin.com/in/etienne-puissant-2b895a5b/en?locale=en_US&trk=profile_view_lang_sel_click"><i
    class="fa fa-linkedin"></i></a>
<a target="_blank" href="https://github.com/NevinDry"><i class="fa fa-github"></i></a>
