<div class="contact is-relative	p-t-lg">
  <div class="container">
    <h3 class="subtitle is-size-1 has-text-centered has-text-primary p-t-lg">{{'SECTIONS.CONTACT' | translate}}</h3>
    <hr class="hr">
    <div class="columns contactColumns">
      <div class="column details">
        <span class="subtitle is-4">{{'CONTACT.TITLE' | translate}}</span>
        <br><br>
        <a href="mailto:etienne.puissant@gmail.com" aria-label="Send mail"><i class="fa fa-envelope"></i></a>
        <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/etienne-puissant-2b895a5b/en?locale=en_US&trk=profile_view_lang_sel_click" aria-label="My Linkedin"><i
            class="fab fa-linkedin" ></i></a>
      </div>

      <div class="column details">
        <app-details></app-details>
      </div>
    </div>
  </div>
