<div class="contact is-relative	p-t-lg">
  <div class="container">
    <h3 class="subtitle is-size-1 has-text-centered has-text-primary p-t-lg">{{'SECTIONS.CONTACT' | translate}}</h3>
    <hr class="hr">
    <div class="columns contactColumns">
      <form [formGroup]="contactForm" 
        class="column has-text-left borderColorMain is-three-fifths m-r-sm">
        <div class="columns ">
          <div class="column is-full">
            <span class="subtitle is-4">
              {{'CONTACT.TITLE' | translate}}
            </span>
          </div>
        </div>

        <div class="columns ">


          <div class="column is-6">
            <div class="field">
              <label class="label">{{'CONTACT.FORM.NAME' | translate}}</label>
              <div class="control">
                <input class="input" type="text" formControlName="surname"
                  [ngClass]="{ 'is-danger': submitted && contactForm.controls.surname.errors }" />
                <span class="help is-danger"
                  *ngIf="submitted && contactForm.controls.surname.errors && contactForm.controls.surname.errors.required">{{'CONTACT.FORM.NAME' | translate}}
                  {{'CONTACT.FORM.REQ' | translate}}</span>
              </div>
            </div>
          </div>

          <div class="column is-6">
            <div class="field">
              <label class="label">{{'CONTACT.FORM.ENTREPRISE' | translate}}</label>
              <div class="control">
                <input class="input" type="text" formControlName="entreprise" />
              </div>
            </div>
          </div>

        </div>
        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="email" formControlName="email"
                  [ngClass]="{ 'is-danger': submitted && contactForm.controls.email.errors }" />
                <span
                  *ngIf="submitted && contactForm.controls.email.errors && contactForm.controls.email.errors.required"
                  class="help is-danger">Email
                  {{'CONTACT.FORM.REQ' | translate}}</span>
                <span *ngIf="submitted && contactForm.controls.email.errors && contactForm.controls.email.errors.email"
                  class="help is-danger">Email
                  {{'CONTACT.FORM.INV' | translate}}</span>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="column is-6">
            <div class="field">
              <label class="label">{{'CONTACT.FORM.PHONE' | translate}}</label>
              <div class="control has-icons-left">
                <input class="input" type="text" formControlName="phone">
                <span class="icon is-small is-left">
                  <i class="fa fa-phone"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-full">
            <div class="field">
              <label class="label">{{'CONTACT.FORM.MSG' | translate}}</label>
              <div class="control">
                <textarea formControlName="content"
                  [ngClass]="{ 'is-danger': submitted && contactForm.controls.content.errors }" class="textarea"
                  [placeholder]="'CONTACT.FORM.PH' | translate"></textarea>
                <div *ngIf="submitted && contactForm.controls.content.errors" class="help is-danger">
                  <div *ngIf="contactForm.controls.content.errors.required">{{'CONTACT.FORM.MSG' | translate}}
                    {{'CONTACT.FORM.REQ' | translate}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-full">

            <div class="field is-grouped">
              <div class="control send-button">
                <a *ngIf="loading" class="button is-rounded is-warning is-loading">{{'CONTACT.FORM.SENDING' | translate}}</a>
                <a *ngIf="!loading" class="button is-rounded is-warning has-text-weight-bold" type="submit" (click)="onSubmitContactForm()">
                  <span class="icon">
                    <i class="fa fa-paper-plane"></i>
                  </span>
                  <span>{{'CONTACT.FORM.SEND' | translate}}</span>
                </a>
              </div>
            </div>

            <div *ngIf="sendMailSuccess" class="notification is-success">
              <strong>{{'CONTACT.FORM.SUCCESS' | translate}}</strong>
            </div>

            <div *ngIf="sendMailError" class="notification is-danger">
              {{'CONTACT.FORM.ERROR' | translate}}
            </div>

          </div>
        </div>

      </form>

      <div class="column details">
        <app-details></app-details>
      </div>
    </div>
  </div>
