<div class="profile">
    <div class="container" >
      <h3 class="subtitle is-size-1	 has-text-centered has-text-primary p-t-lg">{{'SECTIONS.PROFILE' | translate}}</h3>
      <hr class="hr">
      <h4 class="subtitle is-size-3	 has-text-centered has-text-grey-light	 m-t-md">{{'PROFILE.LEAD' | translate}}
      </h4>
  
      <div class="columns is-marginless has-text-centered">
        <div class="column">
          <h5 class="subtitle is-size-4	has-text-centered has-text-primary m-t-sm">{{'PROFILE.ABOUT' | translate}}</h5>
          <p [innerHTML]="'PROFILE.CONTENT' | translate">
          </p>
        </div>
        <div class="column is-one-quarter">
          <img class="profilPic " alt="Profile" src="../../../assets/nevin.jpg" />
  
          <a class="button animated is-info is-rounded pulse infinite m-t-lg" target="_blank" href="https://drive.google.com/file/d/0B8mnVHL4jn2_ckpTSzhRcnFkSms/view">
            <span class="icon">
              <i class="fa fa-download"></i>
            </span>
            <span>{{'PROFILE.RESUME' | translate}}</span>
          </a>
        </div>
        <div class="column 	details">
          <app-details></app-details>
        </div>
      </div>
    </div>
  </div>