@import '../../../styles/variables';


/* PROFILE */

.profile {
  background-color: white;
}

.profilPic {
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
  border: 5px solid $colorMain;
}

.details {
  text-align: left;
}

.details a i {
  font-size: 2.5rem;
  padding-right: 20px;
}

.details a i:hover {
  color: $colorMain;
}


.details a .fa-linkedin {
  color: #0e76a8;
}

.details a .fa-github {
  color: #24292e;
}

.details a .fa-envelope {
  color: cornflowerblue;
}

.details a .fa-phone {
  color: cornflowerblue;
}



@media (max-width: 1024px) {

  .details {
    text-align: center;
  }
}
