
<div class="experiences is-relative	p-t-lg ">

    <div class="container">
      <h3 class="subtitle is-size-1	 has-text-centered has-text-primary">Experiences</h3>
      <hr class="hr">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor omnis numquam nam earum modi temporibus
      recusandae
      delectus optio error reiciendis. Facere harum voluptatem facilis quod totam aperiam laborum sint blanditiis.
      <br> <br>
  
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor omnis numquam nam earum modi temporibus
      recusandae
      delectus optio error reiciendis. Facere harum voluptatem facilis quod totam aperiam laborum sint blanditiis.
  
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor omnis numquam nam earum modi temporibus
      recusandae
      delectus optio error reiciendis. Facere harum voluptatem facilis quod totam aperiam laborum sint blanditiis.
      <br> <br>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor omnis numquam nam earum modi temporibus
      recusandae
      delectus optio error reiciendis. Facere harum voluptatem facilis quod totam aperiam laborum sint blanditiis.
      <br> <br>
  
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor omnis numquam nam earum modi temporibus
      recusandae
      delectus optio error reiciendis. Facere harum voluptatem facilis quod totam aperiam laborum sint blanditiis.
  
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor omnis numquam nam earum modi temporibus
      recusandae
      delectus optio error reiciendis. Facere harum voluptatem facilis quod totam aperiam laborum sint blanditiis.
      <br> <br>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor omnis numquam nam earum modi temporibus
      recusandae
      delectus optio error reiciendis. Facere harum voluptatem facilis quod totam aperiam laborum sint blanditiis.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor omnis numquam nam earum modi temporibus
      recusandae
      delectus optio error reiciendis. Facere harum voluptatem facilis quod totam aperiam laborum sint blanditiis.
      <br>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor omnis numquam nam earum modi temporibus
      recusandae
      delectus optio error reiciendis. Facere harum voluptatem facilis quod totam aperiam laborum sint blanditiis.
    </div>
  </div>