<div class="experiences is-relative	p-t-lg p-b-lg">
  <div class="container">
    <h3 class="subtitle is-size-1	 has-text-centered has-text-primary ">{{'SECTIONS.EXP' | translate}}</h3>
    <hr class="hr">


    <div class="columns m-t-md">
      <div class="column is-two-fifths">
        <h5 class="is-size-4	has-text-weight-bold	">1ICT</h5>

        <span class="is-size-5">
          2016 - 2019
        </span>
        <br>
        <span class="has-text-link	">
          <i class="fa fa-map-pin"></i>
          Brisbane, Australie
        </span>
        <br>
        <br>
        <img src="../../../assets/companies/oz-compressor.png" alt="oz" />

      </div>
      <div class="column">
        <h6 class="is-size-5 has-text-weight-bold p-b-sm">{{'EXP.1ICT.TITLE' | translate}}</h6>
        <p [innerHTML]="'EXP.1ICT.LEAD' | translate">
        </p>

        <div class="subtitle m-t-md m-b-md">{{'EXP.1ICT.MISSIONS.TITLE' | translate}} :</div>

        <div class=" mission-container">

          <div class="columns mission-content">
            <div class="column mission-separator is-1">
              <i class="fa fa-circle is-hidden-touch"></i>
              <div class="mission-line is-hidden-touch">

              </div>
              <!-- <i class="fa fa-circle"></i> -->
            </div>
            <div class="column">
              <span class="subtitle">
                {{'EXP.1ICT.MISSIONS.DOMINOS.TITLE' | translate}}
              </span>
              <p [innerHTML]="'EXP.1ICT.MISSIONS.DOMINOS.CONTENT' | translate">
              </p>
            </div>
          </div>

          <div class="columns mission-content">
            <div class="column mission-separator is-1">
              <i class="fa fa-circle"></i>
              <div class="mission-line is-hidden-touch">
              </div>
            </div>
            <div class="column">
              <span class="subtitle">
                {{'EXP.1ICT.MISSIONS.CASH.TITLE' | translate}}
              </span>
              <p [innerHTML]="'EXP.1ICT.MISSIONS.CASH.CONTENT' | translate">
              </p>
            </div>
          </div>

          <div class="columns mission-content">
            <div class="column mission-separator is-1">
              <i class="fa fa-circle"></i>
              <div class="mission-line is-hidden-touch">

              </div>
              <!-- <i class="fa fa-circle"></i> -->
            </div>
            <div class="column">
              <span class="subtitle">
                {{'EXP.1ICT.MISSIONS.SWIM.TITLE' | translate}}
              </span>
              <p [innerHTML]="'EXP.1ICT.MISSIONS.SWIM.CONTENT' | translate">
              </p>
            </div>
          </div>

          <div class="columns mission-content">
            <div class="column mission-separator is-1">
              <i class="fa fa-circle is-hidden-touch"></i>
              <div class="mission-line is-hidden-touch">

              </div>
              <i class="fa fa-circle"></i>
            </div>
            <div class="column">
              <span class="subtitle">{{'EXP.1ICT.MISSIONS.BA365.TITLE' | translate}} </span>
              <p [innerHTML]="'EXP.1ICT.MISSIONS.BA365.CONTENT' | translate">
              </p>
            </div>
          </div>
        </div>

        <div class="column is-full">
          <div class="columns">
            <div class="has-text-centered column is-8 p-t-lg">
              <a target="_blank" href="https://www.1ict.com.au/"><i class="fa fa-link"></i> https://www.1ict.com.au/ </a>
            </div>
            <div class="column company-picture">
              <img src="../../../assets/companies/1ict-compressor.png" alt="1ict" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="hrExp">

    <div class="columns m-t-md">
      <div class="column is-two-fifths">
        <h5 class="is-size-4	has-text-weight-bold	">Pernod-Ricard</h5>

        <span class="is-size-5">
          2013 - 2015
        </span>
        <br>
        <span class="has-text-link	">
          <i class="fa fa-map-pin"></i>
          Cognac, France
        </span>

      </div>
      <div class="column">
        <h6 class="is-size-5 has-text-weight-bold p-b-sm">{{'EXP.PERNOD.TITLE' | translate}} </h6>

        <p [innerHTML]="'EXP.PERNOD.LEAD' | translate">
        </p>
        <div class=" mission-container  m-t-md">

          <div class="columns mission-content">
            <div class="column mission-separator is-1">
              <i class="fa fa-circle is-hidden-touch"></i>
              <div class="mission-line is-hidden-touch">

              </div>
              <!-- <i class="fa fa-circle"></i> -->
            </div>
            <div class="column">
              <span class="subtitle">
                {{'EXP.PERNOD.FIRST.TITLE' | translate}}
              </span>
              <p [innerHTML]="'EXP.PERNOD.FIRST.CONTENT' | translate">
              </p>
            </div>
          </div>

          <div class="columns mission-content">
            <div class="column mission-separator is-1">
              <i class="fa fa-circle is-hidden-touch"></i>
              <div class="mission-line is-hidden-touch">

              </div>
              <i class="fa fa-circle"></i>
            </div>
            <div class="column">
              <span class="subtitle">{{'EXP.PERNOD.SECOND.TITLE' | translate}} </span>
              <p [innerHTML]="'EXP.PERNOD.SECOND.CONTENT' | translate">
              </p>
            </div>
          </div>
        </div>

        <div class="column is-full">
          <div class="columns">
            <div class="has-text-centered column is-8 p-t-lg">
              <a target="_blank" href="https://www.pernod-ricard.com"><i class="fa fa-link"></i> https://www.pernod-ricard.com </a>
            </div>
            <div class="column company-picture" >
              <img src="../../../assets/companies/pernod-compressor.png" alt="pernod-ricard" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="hrExp">

    <div class="columns">
      <div class="column is-two-fifths">
        <h5 class="is-size-4	has-text-weight-bold	">Solicis</h5>

        <span class="is-size-5">
          2012-2013
        </span>
        <br>
        <span class="has-text-link	">
          <i class="fa fa-map-pin"></i>
          Angoulême, France
        </span>

      </div>
      <div class="column">
        <h6 class="is-size-5 has-text-weight-bold p-b-sm">{{'EXP.SOLICIS.TITLE' | translate}}</h6>
        <p [innerHTML]="'EXP.SOLICIS.LEAD' | translate"></p>
        <div class="column is-full">
          <div class="columns">
            <div class="has-text-centered column is-8 p-t-lg">
              <a target="_blank" href="https://www.solicis.fr"><i class="fa fa-link"></i> https://www.solicis.fr </a>
            </div>
            <div class="column company-picture">
              <img src="../../../assets/companies/solicis-compressor.png" alt="Solicis" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="hrExp">

    <div class="columns is-multiline m-t-md">
      <div class="column is-two-fifths">
        <h5 class="is-size-4	has-text-weight-bold	">MMPJ</h5>

        <span class="is-size-5">
          2011
        </span>
        <br>
        <span class="has-text-link	">
          <i class="fa fa-map-pin"></i>
          Cognac, France
        </span><br>

      </div>
      <div class="column">
        <h6 class="is-size-5 has-text-weight-bold p-b-sm">{{'EXP.MMPJ.TITLE' | translate}}</h6>
        <p [innerHTML]="'EXP.MMPJ.LEAD' | translate"></p>

        <div class="column is-full">
          <div class="columns">
            <div class="has-text-centered column is-8 p-t-lg">
              <a target="_blank" href="https://www.pernod-ricard.com"><i class="fa fa-link"></i> https://www.pernod-ricard.com </a>
            </div>
            <div class="column company-picture">
              <img src="../../../assets/companies/pernod-compressor.png" alt="pernod-ricard" />
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
