@import '../../../styles/variables';


.header {
  height: 100vh;
  background: no-repeat center fixed url("../../../assets/background.jpg");
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.header:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;

  border-bottom: 200px solid white;
  border-left: 400px solid transparent;
  width: 0;
  z-index: 10;
}


.header-content {
  z-index: 3;
  top: 30%;
}

.header-content h1 {
  font-size: 5.25rem;
  border-bottom: 1px solid #ffffff9c;
  margin-bottom: 10px;
  padding-bottom: 20px;
  font-family: 'Kaushan Script', cursive;
}

.header-content h2 {
  font-size: 3.25rem;
}

.fade {
  background-color: $colorSecondary;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.3;
  z-index: 2;
}

.header-gihtub {
  position: absolute;
  left: 0;
  z-index: 3;
}

.header-gihtub img {
  width: "149";
  height: "149";
}

.header-socials {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3;
  text-align: center;

}

.header-socials a {
  display: inline-block;
  font-size: 4rem;
  color: white;
  padding: 20px;
}

.arrow-down {
  height: 110px;
  width: 110px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 4%;
  text-align: center;
  z-index: 11;
}

.arrow-down i {
  font-size: 50px;
  color: $colorMain;
  margin-top: 40px;
}

.bounce {
  animation: bounce 2s infinite;
}


/* PROFILE */

.profile {
  background-color: white;
}

.profilPic {
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
  border: 5px solid $colorMain;
}

.details {
  text-align: left;
}

.details a i {
  font-size: 2.5rem;
  padding-right: 20px;
}

.details a i:hover {
  color: $colorMain;
}


.details a .fa-linkedin {
  color: #0e76a8;
}

.details a .fa-github {
  color: #24292e;
}

.details a .fa-envelope {
  color: cornflowerblue;
}

.details a .fa-phone {
  color: cornflowerblue;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}


/* EDUCATION */

.education:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  border-bottom: 135px solid transparent;
  border-left: 400px solid white;
  width: 0;
  z-index: 10;
}


/* Experiences */


.experiences{
  background-color: white;
}

.experiences:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 200px solid transparent;
  border-right: 400px solid beige;
  width: 0;
  z-index: 10;
}



@media (max-width: 768px) {
  .header-content {
    top: 15%;
  }

  .header:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;

    border-bottom: 140px solid white;
    border-left: 180px solid transparent;
    width: 0;
    z-index: 10;
  }

  .header-content h1 {
    font-size: 3.70rem;
  }

  .header-content h2 {
    font-size: 1.25rem;
  }

  .header-socials {
    bottom: 110px;
    text-align: left;
    bottom: 0;
  }

  .details {
    text-align: center;
  }

  .arrow-down {
    right: 0;
    width: 80px;
  }

  .container h3 {
    padding-top: 50px;
  }


  /* EDUCATION */
  .education:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    border-bottom: 80px solid transparent;
    border-left: 150px solid white;
    width: 0;
    z-index: 10;
  }

  /* EXPERIENCES */

  .experiences:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 80px solid transparent;
    border-right: 150px solid beige;
    width: 0;
    z-index: 10;
  }
}
