@import '../../../styles/variables';

.header {
  height: 100vh;
  background: no-repeat center url("../../../assets/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;

  border-bottom: 200px solid white;
  border-left: 400px solid transparent;
  width: 0;
  z-index: 10;
}


.header-content {
  z-index: 3;
  top: 30%;
}

.header-content h1 {
  font-size: 5.25rem;
  border-bottom: 1px solid #ffffff9c;
  margin-bottom: 10px;
  padding-bottom: 20px;
  font-family: 'Kaushan Script', cursive;
}

.header-content h2 {
  font-size: 3.25rem;
}

.fade {
  background-color: $colorSecondary;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.3;
  z-index: 2;
}

.header-gihtub {
  position: absolute;
  left: 0;
  z-index: 3;
}

.header-gihtub img {
  width: "149";
  height: "149";
}

.header-socials {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3;
  text-align: center;

}

.header-socials a {
  display: inline-block;
  font-size: 4rem;
  color: white;
  padding: 20px;
}

.arrow-down {
  height: 110px;
  width: 110px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 4%;
  text-align: center;
  z-index: 11;
}

.arrow-down i {
  font-size: 50px;
  color: $colorMain;
  margin-top: 40px;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

//we need this to fix the vh viewmport on IOS, actually webkit-overflow-scrolling exists only on IOS
@supports (-webkit-overflow-scrolling: touch) {
  .header {
    height: -webkit-fill-available;
  }
}


@media (max-width: 1024px) {
  .header-content {
    top: 15%;
  }

  .header:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;

    border-bottom: 140px solid white;
    border-left: 180px solid transparent;
    width: 0;
    z-index: 10;
  }

  .header-content h1 {
    font-size: 3.70rem;
  }

  .header-content h2 {
    font-size: 1.25rem;
  }

  .header-socials {
    bottom: 110px;
    text-align: left;
    bottom: 0;
  }

  .arrow-down {
    right: 0;
    width: 80px;
  }
}
