<footer class="footer">
    <div class="columns">
        <div class="column is-one-third sentence">
            <span> {{'FOOTER.WRITTEN' | translate }}</span>
        </div>
        <div class="column made-with is-half">
            <div class="columns is-multiline">
                <div class="column is-full made-with-title">
                    <div>{{'FOOTER.MADEWITH' | translate }}</div>
                </div>
                <div class="column is-full made-with-brands">
                    <div class="columns is-multiline has-text-centered">
                        <div class="column is-3-desktop is-half">
                            <a target="_blank" rel="noopener" href="https://angular.io/" aria-label="angular website"><img src="../../../assets/brands/angular-compressor.png" alt="angular" /></a>
                        </div>
                        <div class="column is-3-desktop is-half">
                            <a target="_blank" rel="noopener" href="https://bulma.io/" aria-label="bulma website"><img src="../../../assets/brands/bulma-compressor.png" alt="bulma" /></a>
                        </div>
                        <div class="column is-3-desktop is-half">
                            <a target="_blank" rel="noopener" href="https://firebase.google.com/" aria-label="firebase website"><img src="../../../assets/brands/firebase-compressor.png" alt="firebase" /></a>
                        </div>
                        <div class="column is-3-desktop is-half">
                            <a target="_blank" rel="noopener" href="https://jenkins.io/" aria-label="jenkins website"><img src="../../../assets/brands/jenkins-compressor.png" alt="jenkins" /></a>
                            <!-- <img class="build-jenkins" alt="build" src="https://51.255.45.109:8080/buildStatus/icon?job=prod.etiennepuissant.eu" /> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="column has-text-centered">
            <a [ngx-scroll-to]="'#section-profile'" class="arrow-up">
                <i class="fa fa-arrow-circle-up bounce"></i>
            </a>
        </div>
    </div>
</footer>