<footer class="footer">
  <div class="columns">
    <div class="column is-one-third sentence">
      <span> Written by hand with multiple ideas from the web :)</span>
    </div>
    <div class="column made-with is-half">
      <div class="columns is-multiline">
        <div class="column is-full made-with-title">
          <div>Made With :</div>
        </div>
        <div class="column made-with-brands">
          <img src="../../../assets/brands/angular-compressor.png" alt="angular" />
          <img src="../../../assets/brands/bulma-compressor.png" alt="bulma" />
          <img src="../../../assets/brands/firebase-compressor.png" alt="angular" />
        </div>
      </div>

    </div>
    <div class="column has-text-centered">
      <a [ngx-scroll-to]="'#section-profile'" class="arrow-up">
        <i class="fa fa-arrow-circle-up bounce"></i>
      </a>
    </div>
  </div>
</footer>
