@import '../../../styles/variables';


.footer {
  margin-top: 50px;
  background-color: $colorMain;
  position: relative;
  z-index: 25;
  .sentence {
    span {
      font-family: 'Kaushan Script', cursive;
      color: white;
      font-size: 2.5rem;
    }


  }

  .made-with {
    .made-with-title {
      text-align: center;
      color: white;
      font-size: 1.8rem;
    }

    .made-with-brands {
      display: flex;
      justify-content: space-around;
      >div{
        width: 100%;
      }
      img {
        height: 100px;
      }

      .build-jenkins{
        height: auto;
      }
    }
  }

  .arrow-up {
    font-size: 90px;
    color: #ffdd57;
  }
}
