/* INTEREST */
.interest:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  border-bottom: 135px solid transparent;
  border-left: 400px solid white;
  width: 0;
  z-index: 10;
}


.interest {
  .container {
    .first {
      border-left: solid 10px #00d1b2;
      border-bottom: solid 10px #00d1b2;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 25px;

      .music {
        text-align: center;
        width: 100%;

        img:first-child {
          width: 375px;
          border-top-left-radius: 50px;
          border-top-right-radius: 50px;
        }
      }
    }

    .second {
      text-align: right;
      margin-top: 20px;
      border-right: solid 10px #ffdd57;
      border-bottom: solid 10px #ffdd57;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 25px;

      img {
        border-radius: 10px;
        max-height: 310px;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        border: solid 5px #00d1b2;
      }

      p{
        text-align: center;
        display: flex;
        align-self: center;
        padding: 10px;
      }

      .column {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 1024px) {

  /* ABILITIES */
  .interest:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    border-bottom: 80px solid transparent;
    border-left: 150px solid white;
    width: 0;
    z-index: 10;
  }
}
