<div class="interest is-relative	p-t-lg">
  <div class="container">
    <h3 class="subtitle is-size-1 has-text-centered has-text-primary p-t-lg">{{'SECTIONS.INTEREST' | translate}}</h3>
    <hr class="hr">

    <div class="first">
      <div class="columns ">
        <div class="column is-5">
          <div class="columns is-multiline music">
            <div class="column is-full">
              <span class="subtitle p-l-lg is-4">
                <!-- {{'INTEREST.TITLE' | translate}} -->
                La musique, les concerts
              </span>
            </div>
            <div class="column is-full">
              <img src="../../../assets/interest/music1.jpg" alt="ukulele" />
            </div>
            <div class="column is-full">
              <audio src="https://docs.google.com/uc?export=download&id=1NfWOT4XS5IgmJdBNcTwvQ5gdumi94e-v" controls>
              </audio>

            </div>

          </div>

        </div>
        <div class="column is-7">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias accusamus quam nemo minus provident.
            Recusandae
            possimus ipsa autem deleniti aliquam vel quia consectetur. Est distinctio modi itaque voluptatibus odit
            labore.
          </p>
        </div>
      </div>
    </div>

    <div class="second">
      <div class="columns ">
        <div class="column is-12">
          <div class="columns is-multiline music">
            <div class="column is-full">
              <span class="subtitle p-l-lg is-4">
                <!-- {{'INTEREST.TITLE' | translate}} -->
                L'aventure à l'étranger
              </span>
            </div>
            <div class="column is-half">
              <img src="../../../assets/interest/edoras.JPG" alt="oz" />
            </div>
            <div class="column is-half">
              <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias accusamus quam nemo minus provident.
                    Recusandae
                    possimus ipsa autem deleniti aliquam vel quia consectetur. Est distinctio modi itaque voluptatibus odit
                    labore.
              </p>
            </div>
            <div class="column is-3">
              <img src="../../../assets/interest/koala.JPG" alt="nz" />

            </div>
            <div class="column is-3">
              <img src="../../../assets/interest/kangaroo.jpg" alt="nz" />

            </div>
            <div class="column is-half">
              <img src="../../../assets/interest/fijiuk.jpg" alt="nz" />
            </div>
            <!-- <div class="column is-two-fifths">
                    <img src="../../../assets/interest/kayak.JPG" alt="nz" />
            </div> -->
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
