/* INTEREST */
.interest:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  border-bottom: 135px solid transparent;
  border-left: 400px solid white;
  width: 0;
  z-index: 10;
}


.interest {
  .container {
    .first {
      border-left: solid 4px #00d1b2;
      border-bottom: solid 4px #00d1b2;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 20px;


        img {
          box-shadow: 4px 4px 6px #aaa;
          width: 375px;

        }
      }
    

    .second {
      text-align: right;
      margin-top: 20px;
      border-right: solid 4px #ffdd57;
      border-bottom: solid 4px #ffdd57;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 25px;

      &>.columns{
        margin-bottom: 10px;
      }
      img{
        max-height: 310px;
        width: 90%;
        object-fit: cover;
        border: solid 5px #00d1b2;
        box-shadow: 4px 4px 6px #aaa;       
      }

      p{
        text-align: center;
        display: flex;
        align-self: center;
        padding: 10px;
      }

      .column {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .second span{
    text-align: center;
  }

  .first .column:first-child{
    text-align: center;
    span{
      padding: 0;
    }
  }
}


@media (max-width: 1024px) {

  /* ABILITIES */
  .interest:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    border-bottom: 80px solid transparent;
    border-left: 150px solid white;
    width: 0;
    z-index: 10;
  }
}
