<div class="interest is-relative	p-t-lg">
  <div class="container">
    <h3 class="subtitle is-size-1 has-text-centered has-text-primary p-t-lg">{{'SECTIONS.INTEREST' | translate}}</h3>
    <hr class="hr">

    <div class="first">
      <div class="columns is-multiline">
        <div class="column is-full">
          <span class="subtitle p-l-lg is-3">
            {{'INTEREST.MUSIC.TITLE' | translate}}
          </span>
        </div>
        <div class="column is-4">
          <div class="column music">
            <div class="column is-full">
              <img src="../../../assets/interest/music2.jpg" alt="ukulele" />
            </div>

          </div>

        </div>
        <div class="column is-4 has-text-centered">
          <p  [innerHTML]="'INTEREST.MUSIC.CONTENT' | translate">
           
          </p>
        </div>
        <div class="column is-4">
          <div class="column music">
            <div class="column is-full">
              <img src="../../../assets/interest/music1.jpg" alt="ukulele" />
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="second">
      <div class="columns ">
        <div class="column is-12">
          <div class="columns is-multiline is-vcentered music">
            <div class="column is-full">
              <span class="subtitle is-3">
                {{'INTEREST.TRIP.TITLE' | translate}}
              </span>
            </div>
            <div class="column is-half">
              <img src="../../../assets/interest/edoras.JPG" alt="oz" />
            </div>
            <div class="column is-half has-text-centered">
              <p  [innerHTML]="'INTEREST.TRIP.CONTENT' | translate">

            </div>
            <div class="column is-3">
              <img src="../../../assets/interest/kangaroo.jpg" alt="nz" />

            </div>
            <div class="column is-3">
              <img src="../../../assets/interest/moreton.jpg" alt="nz" />

            </div>

            <div class="column is-half">
              <img src="../../../assets/interest/fijiuk.jpg" alt="nz" />
            </div>
            <!-- <div class="column is-two-fifths">
                    <img src="../../../assets/interest/kayak.JPG" alt="nz" />
            </div> -->
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
