@import '../../../styles/variables';


.custom-navbar {
  position: absolute;
  top: 100vh;
  right: 4%;
  background-color: $colorMain;
  width: 110px;
  text-align: center;
  z-index: 18;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.custom-navbar.scroll{
  position: fixed;
  top: 70px;
}

.custom-navbar.nav-fading{
  top:0px;
  animation: all ease 0.5s;
}

.custom-navbar ul li {
  transition: 0.2s;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.custom-navbar ul li:not(.languages):hover  {
  background-color: $colorSecondary;
  color: black;
  cursor: pointer;
}

.custom-navbar ul .active {
  background-color: $colorSecondary;
  color: black;
}

.custom-navbar .navbar-burger{
    color:black;
    background-color: $colorSecondary;
    height: 45px;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.mobile-section-indicator{
  display: none;
}


.languages{
  img{
    height: 45px;

    border-radius: 10px; 

    &:hover{
      cursor: pointer;
      background-color: $colorSecondary;
    }
  }
  .active{
    background-color: $colorSecondary;
  }
}

.languages-mobile{
  display: none;
}

@media (max-width: 1024px) {
  .custom-navbar {
    display: none;
  }

  .custom-navbar.scroll{
    display: block;
    position: fixed;
    top: 0;
    background-color: $colorMain;
    width: 100%;
    border-radius: 0;
    right: 0;
  }

  .navbar-burger{
    display: inline-block;
    float: right;

  }

  .languages-mobile{
    display: inline-block;
    float: left;
    margin-top: 5px;
    img{
      height: 45px;
      margin-left: 10px;

      &.active{
        background-color: $colorSecondary;
      }

      &:active{
        border-radius: 10px; 
        background-color: $colorSecondary;
      }
      
    }
  }

  .mobile-section-indicator{
    display: inline-block;
    line-height: 50px;
    color: white;
    font-size: 1.5rem;
    font-family: 'Kaushan Script', cursive;

  }
  

  .custom-navbar ul.is-active {
    display: block;
  }

  .custom-navbar ul {
    display: none;
  }


}
