<nav class="custom-navbar is-primary" 
    [ngClass]="scrollElement !== 'section-header' ? 'scroll' : ''">

    <span class="mobile-section-indicator">
      {{scrollString}}
    </span>
    <div class="languages-mobile">
        <img src="../../../assets/frflag.png" alt="français" /> <img src="../../../assets/enflag.png" alt="english" />
    </div>
    <a class="navbar-burger" (click)="toggleBurger()" [ngClass]="burgerIsActive ? 'is-active' : ''" role="button" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
    </a>
  <ul [ngClass]="burgerIsActive ? 'is-active' : ''">
    <li [ngx-scroll-to]="'#section-profile'" [ngClass]="scrollElement === 'section-profile' ? 'active' : ''">Profile</li>
    <li [ngx-scroll-to]="'#section-education'" [ngClass]="scrollElement === 'section-education' ? 'active' : ''">Education</li>
    <li [ngx-scroll-to]="'#section-experience'" [ngClass]="scrollElement === 'section-experience' ? 'active' : ''">Experiences</li>
    <li [ngx-scroll-to]="'#section-abilities'" [ngClass]="scrollElement === 'section-abilities' ? 'active' : ''">Abilities</li>
    <li [ngx-scroll-to]="'#section-works'" [ngClass]="scrollElement === 'section-works' ? 'active' : ''">Works</li>
    <li [ngx-scroll-to]="'#section-contact'" [ngClass]="scrollElement === 'section-contact' ? 'active' : ''">Contact</li>
    <li class="languages"><img src="../../../assets/frflag.png" alt="français" /> <img src="../../../assets/enflag.png" alt="english" /></li>
  </ul>
</nav>
