<div class="education is-relative	p-t-lg p-b-lg" >
    <div class="container">
      <h3 class="subtitle is-size-1	 has-text-centered has-text-primary ">{{'SECTIONS.EDU' | translate}}</h3>
      <hr class="hr">
  
      <div class="columns">
        <div class="column is-two-fifths">
          <h5 class="is-size-4	has-text-weight-bold	">{{'EDU.EPSI' | translate}}</h5>
          <span class="is-size-5">
            2013 - 2015
          </span>
          <br>
          <span class="has-text-link	">
            <i class="fa fa-map-pin"></i>
            Bordeaux, France
          </span>
        </div>
        <div class="column">
          <h6 class="is-size-5 has-text-weight-bold p-b-sm">{{'EDU.MASTER.TITLE' | translate}}</h6>
          <p [innerHTML]="'EDU.MASTER.CONTENT' | translate"></p>
        </div>
      </div>
  
      <div class="columns m-t-md">
        <div class="column is-two-fifths">
          <h5 class="is-size-4	has-text-weight-bold	">{{'EDU.EPSI' | translate}}</h5>
          <span class="is-size-5">
            2011 - 2013
          </span>
          <br>
          <span class="has-text-link	">
            <i class="fa fa-map-pin"></i>
            Bordeaux, France
          </span>
        </div>
        <div class="column">
          <h6 class="is-size-5 has-text-weight-bold p-b-sm">{{'EDU.BTS.TITLE' | translate}} </h6>
          <p [innerHTML]="'EDU.BTS.CONTENT' | translate"></p>
        </div>
      </div>
  
      <div class="has-text-centered is-fullwidth">
        <a href="http://www.epsi.fr/"><i class="fa fa-link"></i> http://www.epsi.fr/ </a>
      </div>
      <hr class="hr">
  
      <div class="columns">
        <div class="column is-two-fifths">
          <h5 class="is-size-4	has-text-weight-bold	m-t-md">{{'EDU.LANG' | translate}}</h5>
  
  
        </div>
        <div class="column">
          <span class="is-size-5 has-text-weight-bold">{{'EDU.FRENCH.TITLE' | translate}} : </span> {{'EDU.FRENCH.CONTENT' | translate}}
          <br><br>
          <span class="is-size-5 has-text-weight-bold">{{'EDU.ENGLISH.TITLE' | translate}} : </span> <br>
          <p [innerHTML]="'EDU.ENGLISH.CONTENT' | translate"></p>
        </div>
      </div>
  
  
    </div>
  </div>
  