<div class="abilities is-relative	p-t-lg m-b-lg" >

    <div class="container">
      <h3 class="subtitle is-size-1	 has-text-centered has-text-primary">Abilities</h3>
      <hr class="hr">
  
      <h5 class="is-size-3	has-text-weight-bold	">Development</h5>
  
      <div>
        <h4 class="is-size-4 has-text-weight-bold	">Web</h4>
        <div class="columns ordering">
          <div class="column is-two-third">
            Javascript
            <progress class="progress is-primary" [value]="progress" max="100"></progress>
            Angular 8
            <progress class="progress is-primary" [value]="progress" max="100"></progress>
            React, Redux
            <progress class="progress is-primary" [value]="progress - 15" max="100"></progress>
            HTML 5, CSS 3
            <progress class="progress is-primary" [value]="progress" max="100"></progress>
          </div>
          <div class="column logos-column has-text-centered">
            <div class="columns is-multiline is-mobile">
              <div class="column is-half">
                <img src="../../../assets/brands/htmlcss-compressor.png" alt="html css logo"/>
              </div>
              <div class="column is-half">
                <img src="../../../assets/brands/js-compressor.jpg" alt="Javascript logo"/>
              </div>
              <div class="column is-half">
                <img src="../../../assets/brands/angular-compressor.png" alt="Angular logo"/>
              </div>
              <div class="column is-half">
                <img src="../../../assets/brands/react-compressor.png" alt="React Redux logo"/>
              </div>
              <div class="column is-one-third">
                <img src="../../../assets/brands/boostrap-compressor.png" alt="Bootstrap logo"/>
              </div>
              <div class="column is-one-third">
                <img src="../../../assets/brands/bulma-compressor.png" alt="Bulma logo"/>
              </div>
              <div class="column is-one-third">
                <img src="../../../assets/brands/sass-compressor.png" alt="SASS logo"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr">
  
      <div class="has-text-right">
        <h4 class="is-size-4 has-text-weight-bold">Backend</h4>
        <div class="columns ordering">
  
          <div class="column logos-column  has-text-centered">
            <div class="columns is-multiline is-mobile">
              <div class="column is-half">
                <img src="../../../assets/brands/node-compressor.png" alt="Node logo"/>
              </div>
              <div class="column is-half">
                <img src="../../../assets/brands/express-compressor.png" alt="Express logo"/>
              </div>
  
              <div class="column is-half">
                <img src="../../../assets/brands/azure-compressor.png" alt="Azure logo"/>
              </div>
              <div class="column is-half">
                <img src="../../../assets/brands/firebase-compressor.png" alt="Firebase logo"/>
              </div>
            </div>
          </div>
          <div class="column is-two-third">
            Node.js
            <progress class="progress is-reversed is-primary" [value]="progress - 10" max="100"></progress>
            Express.js
            <progress class="progress is-reversed is-primary" [value]="progress" max="100"></progress>
            Microsoft Azure
            <progress class="progress is-reversed is-primary" [value]="progress - 20" max="100"></progress>
            Google Firebase
            <progress class="progress is-reversed is-primary" [value]="progress - 20" max="100"></progress>
          </div>
        </div>
      </div>
  
      <hr class="hr">
  
      <div>
        <h4 class="is-size-4 has-text-weight-bold	">Divers</h4>
        <div class="columns ordering">
          <div class="column is-two-third">
            PHP
            <progress class="progress is-primary" [value]="progress - 20" max="100"></progress>
            Java
            <progress class="progress is-primary" [value]="progress - 30" max="100"></progress>
            Microsoft C#, .NET
            <progress class="progress is-primary"  [value]="progress - 20" max="100"></progress>
          </div>
          <div class="column logos-column  has-text-centered">
            <div class="columns is-multiline is-mobile">
              <div class="column is-half">
                <img src="../../../assets/brands/php-compressor.png" alt="Php logo"/>
              </div>
              <div class="column is-half">
                <img src="../../../assets/brands/java-compressor.png" alt="Java logo" />
              </div>
              <div class="column is-full">
                <img src="../../../assets/brands/csharp-compressor.png" alt="Csharp .net logo"/>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <hr class="hr">
  
      <div class="has-text-right">
        <h4 class="is-size-4 has-text-weight-bold	">Mobile</h4>
        <div class="columns ordering">
  
          <div class="column logos-column  has-text-centered">
            <div class="columns is-multiline is-mobile">
              <div class="column is-half">
                <img src="../../../assets/brands/pwa-compressor.png" alt="jasmine logo"/>
              </div>
              <div class="column is-half">
                <img src="../../../assets/brands/tns-compressor.png" alt="nativescript logo"/>
              </div>
              <div class="column is-full">
                <img src="../../../assets/brands/iosand-compressor.png" alt="ios android logo"/>
              </div>
            </div>
          </div>
  
          <div class="column is-two-third">
            Progressive Web App
            <progress class="progress is-primary is-reversed" value="90" max="100"></progress>
            Nativescript (ios, android)
            <progress class="progress is-primary is-reversed" value="100" max="100"></progress>
          </div>
  
        </div>
      </div>
      <hr class="hr">
  
  
      <div>
        <h4 class="is-size-4 has-text-weight-bold">Database</h4>
        <div class="columns ordering">
          <div class="column is-two-third">
            SQL (SQL Server, MySQL)
            <progress class="progress is-primary" value="90" max="100"></progress>
            NoSQL (MongoDB, Firestore)
            <progress class="progress is-primary" value="90" max="100"></progress>
          </div>
          <div class="column logos-column  has-text-centered">
            <div class="columns is-multiline is-mobile">
              <div class="column is-half">
                <img src="../../../assets/brands/mongo-compressor.png" alt="mongodb logo"/>
              </div>
              <div class="column is-half">
                <img src="../../../assets/brands/firestore-compressor.png" alt="firestore logo"/>
              </div>
              <div class="column is-half">
                <img src="../../../assets/brands/mysql-compressor.png" alt="mysql logo" />
              </div>
              <div class="column is-half">
                <img src="../../../assets/brands/sqls-compressor.png" alt="sql server logo" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr">
  
      <h5 class="is-size-3	has-text-weight-bold	">Methodology</h5>
  
      <div class="">
        <div class="columns ordering">
          <div class="column is-two-third">
            Agile software development
            <progress class="progress is-primary " value="100" max="100"></progress>
            Continuous integration (jenkins, Azure DevOps)
            <progress class="progress is-primary " value="70" max="100"></progress>
            Testing (frontend, backend, unit, end to end)
            <progress class="progress is-primary" value="100" max="100"></progress>
            User Experience
            <progress class="progress is-primary" value="90" max="100"></progress>
          </div>
          <div class="column logos-column  has-text-centered">
            <div class="columns is-multiline is-mobile">
              <div class="column is-half">
                <img src="../../../assets/brands/jest-compressor.png" alt="jest logo"/>
              </div>
              <div class="column is-half">
                <img src="../../../assets/brands/jasmine-compressor.png" alt="jasmine logo" />
              </div>
              <div class="column is-half">
                <img src="../../../assets/brands/git-compressor.png" alt="git logo"/>
              </div>
              <div class="column is-half">
                <img src="../../../assets/brands/jenkins-compressor.png" alt="jenkins logo"/>
              </div>
              <div class="column is-full">
                <img src="../../../assets/brands/devops-compressor.png" alt="devops logo"/>
              </div>
            </div>
          </div>
  
        </div>
      </div>
  
      <hr class="hr">
  
      <h5 class="is-size-3 has-text-centered	has-text-weight-bold m-b-lg">Other Skills</h5>
      <div class="field is-grouped is-grouped-multiline ">
        <div class="control ">
          <div class="tags has-addons ">
            <span class="tag is-primary is-medium">100/100</span>
            <span class="tag is-light is-medium">Windows</span>
          </div>
        </div>
        <div class="control ">
          <div class="tags has-addons ">
            <span class="tag is-primary is-medium">100/100</span>
            <span class="tag is-light is-medium">Linux</span>
          </div>
        </div>
        <div class="control ">
          <div class="tags has-addons ">
            <span class="tag is-primary is-medium">99/100</span>
            <span class="tag is-light is-medium">Team Work</span>
          </div>
        </div>
        <div class="control ">
          <div class="tags has-addons ">
            <span class="tag is-primary is-medium">80/100</span>
            <span class="tag is-light is-medium">CRM</span>
          </div>
        </div>
        <div class="control ">
          <div class="tags has-addons ">
            <span class="tag is-primary is-medium">70/100</span>
            <span class="tag is-light is-medium">Golf</span>
          </div>
        </div>
        <div class="control ">
          <div class="tags has-addons ">
            <span class="tag is-primary is-medium">90/100</span>
            <span class="tag is-light is-medium">UML/Merise</span>
          </div>
        </div>
        <div class="control ">
          <div class="tags has-addons ">
            <span class="tag is-primary is-medium">80/100</span>
            <span class="tag is-light is-medium">NGINX</span>
          </div>
        </div>
        <div class="control ">
            <div class="tags has-addons ">
              <span class="tag is-primary is-medium">99/100</span>
              <span class="tag is-light is-medium">jQuery</span>
            </div>
          </div>
        <div class="control ">
          <div class="tags has-addons ">
            <span class="tag is-primary is-medium">70/100</span>
            <span class="tag is-light is-medium">Leadership</span>
          </div>
        </div>
        <div class="control ">
          <div class="tags has-addons ">
            <span class="tag is-primary is-medium">70/100</span>
            <span class="tag is-light is-medium">Ukulele</span>
          </div>
        </div>
        <div class="control ">
          <div class="tags has-addons ">
            <span class="tag is-primary is-medium">80/100</span>
            <span class="tag is-light is-medium">SEO</span>
          </div>
        </div>
        <div class="control ">
          <div class="tags has-addons ">
            <span class="tag is-primary is-medium">70/100</span>
            <span class="tag is-light is-medium">3D</span>
          </div>
        </div>
        <div class="control ">
          <div class="tags has-addons ">
            <span class="tag is-primary is-medium">100/100</span>
            <span class="tag is-light is-medium">Desire to Learn & Improve</span>
          </div>
        </div>
  
  
      </div>
    </div>
  </div>