@import '../styles/variables';


.save-screen {
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
  z-index: 1000000;
  position: fixed;
  background-color: hsla(0, 0%, 5%, 0.6588235294117647);

  .outer-marquee {
    height: 100%;
    width: 100%;

    img {
      width: 200px;
      border: 2px solid $colorSecondary;
      border-radius: 1000px;
      background-color: $colorSecondary;
    }

    .inner-marquee {
      width: 200px;
      position: absolute;
      animation: marqueeLeftRight 5s linear alternate infinite,  marqueeTopBot 3s linear alternate infinite;
    }
  }
}

@keyframes marqueeTopBot {
  0% {
    top: 0;
  }

  100% {
    top: calc(100% - 200px);
  }
}

@keyframes marqueeLeftRight {
    0% {
      left: 0;
    }
  
    100% {
      left: calc(100% - 200px);
    }
  }